In [13]:
import pandas as pd
import gmaps
from config import gkey

accident_data = pd.read_csv("accident_data.csv")

In [31]:
df = accident_data[~accident_data["Start_Time"].str.contains("2016")]
df = df[~df["Start_Time"].str.contains("2017")]
df = df[~df["Start_Time"].str.contains("2019")]

accident_df = df[["ID", "TMC", "Severity", "Start_Time", "End_Time", "Start_Lat", "Start_Lng", "City", "State", "County", "Weather_Condition", "Temperature(F)", "Wind_Speed(mph)"]]

accident_df.reset_index()

,index,ID,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,City,State,County,Weather_Condition,Temperature(F),Wind_Speed(mph)
0,626043,A-626044,201.0,3,2018-12-31 23:54:51,2019-01-01 01:35:42,40.740047,-73.818512,Flushing,NY,Queens,Heavy Rain,46.9,6.9
1,626045,A-626046,245.0,3,2018-12-31 22:40:11,2019-01-01 01:25:56,40.834370,-73.864113,Bronx,NY,Bronx,Rain,46.4,10.4
2,626355,A-626356,201.0,3,2018-12-31 12:35:54,2019-01-01 00:36:01,38.441975,-88.953049,Dix,IL,Jefferson,Light Rain,57.0,6.9
3,626407,A-626408,201.0,2,2018-12-31 22:32:27,2019-01-01 00:45:24,30.241417,-97.726158,Austin,TX,Travis,Partly Cloudy,39.9,NaN
4,626462,A-626463,201.0,2,2018-12-31 23:49:55,2019-01-01 00:19:44,32.773060,-96.744247,Dallas,TX,Dallas,Clear,43.0,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
892620,2181999,A-2182000,NaN,2,2018-01-30 20:01:02,2018-01-31 02:01:02,34.072200,-117.756060,Pomona,CA,Los Angeles,Clear,60.8,NaN
892621,2182000,A-2182001,NaN,2,2018-01-30 20:40:30,2018-01-30 21:10:30,34.235207,-118.342969,Sun Valley,CA,Los Angeles,Clear,62.1,5.8
892622,2182001,A-2182002,NaN,2,2018-01-30 20:40:30,2018-01-30 21:10:30,34.235564,-118.340687,Sun Valley,CA,Los Angeles,Clear,62.1,5.8
892623,2182002,A-2182003,NaN,2,2018-01-30 21:30:42,2018-01-30 22:00:42,33.657040,-117.886020,Costa Mesa,CA,Orange,Partly Cloudy,60.1,NaN
892624,2182003,A-2182004,NaN,2,2018-01-30 21:30:42,2018-01-30 22:00:42,33.658023,-117.885047,Costa Mesa,CA,Orange,Partly Cloudy,60.1,NaN

In [15]:
accident_data_sample = accident_data.sample(n=250000)

locations = accident_data_sample[["Start_Lat", "Start_Lng"]]

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))